SECRET_KEY=your-secret-key-here
DEBUG=True
DB_NAME=visitor_system_db
DB_USER=visitor_admin
DB_PASSWORD=your-db-password-here
DB_HOST=localhost
DB_PORT=5432
EMAIL_HOST_USER=waynenigel12@gmail.com
EMAIL_HOST_PASSWORD=upvfciwokuejlefa
